body{
    background-color: gainsboro;
}
.navbar .navbar-brand{
    padding: 0 0 0 1.5rem;
}
.navbar .navbar-nav{
    padding: 0 1.5rem 0 0;
}

#banner{
    background: url("/img/laptop.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}
#alter{
    margin-top: -50px;
}
.fa{
    color: whitesmoke;
}
.abt{
    padding: 10px 20px 10px 20px;
}
.hr{
    border-width: 3px;
    margin-top: 06px;
}
#About{
    margin-top: 70px;
}
