body{
    background-color: gainsboro;
}
.navbar .navbar-brand{
    padding: 0 0 0 1.5rem;
}
.navbar .navbar-nav{
    padding: 0 1.5rem 0 0;
}

#banner{
    background: url("/img/laptop.jpg");
    border: solid 2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}
.container{
    margin-top: -50px;
}